# Virtual environment folders
venv/
env/

# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Environment files
.env
.env.*
*.env

# IDE / editor folders
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db
